# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# VSCode
.vscode/
*.code-workspace

# MZinga local clone

lab1-worker/.venv/
lab1-worker/__pycache__/
lab1-worker/.env
mzinga/mzinga-apps/.env